<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.802151610848-3obja80tjcsbhp1954qan3cgi5iklges</string>
			</array>
		</dict>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to provide secure and convenient authentication for your account.
We use Face ID to provide secure and convenient authentication for your account.
</string>
	<key>GIDClientID</key>
	<string>802151610848-3obja80tjcsbhp1954qan3cgi5iklges.apps.googleusercontent.com</string>
</dict>
</plist>
